In [6]:
from pandas import read_csv
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime

def parser(x):
    return pd.datetime.strptime('2015'+x, '%Y%d/%m/%H %M')

data = read_csv('./BATADAL_dataset03.csv', header=0, parse_dates=[0], index_col=0, squeeze=True,\
                  date_parser=parser)

series = data.copy()

In [7]:
import custom_function as cf

In [8]:
data.head()

,L_T1,L_T2,L_T3,L_T4,L_T5,L_T6,L_T7,F_PU1,S_PU1,F_PU2,...,P_J256,P_J289,P_J415,P_J302,P_J306,P_J307,P_J317,P_J14,P_J422,ATT_FLAG
DATETIME,,,,,,,,,,,,,,,,,,,,,
2015-01-06 14:00:00,0.509730,2.049003,3.191145,2.792634,2.656091,5.316831,1.562321,98.998444,1,99.018150,...,87.605774,26.495605,84.206619,18.901676,81.983734,18.791777,67.125603,29.387470,28.487471,0
2015-01-06 14:01:00,0.412580,2.009072,3.642565,2.831673,3.126387,5.494855,1.852043,99.095901,1,99.115639,...,89.448341,26.487326,85.900085,18.849329,82.150589,18.739643,67.178696,29.354256,28.454256,0
2015-01-06 14:02:00,0.320112,1.986093,4.140192,3.256733,3.574601,5.500000,2.246126,98.420959,1,98.440498,...,91.056114,26.487364,86.582474,19.597170,83.988579,19.496712,72.425293,29.354538,28.454538,0
2015-01-06 14:03:00,0.332879,2.009203,4.673478,3.744497,3.952379,5.500000,3.203573,97.575172,1,97.594460,...,92.594353,26.575815,88.020546,26.028486,64.670486,25.922703,76.275040,29.449951,28.549952,0
2015-01-06 14:04:00,0.483496,2.089049,5.237937,4.409456,3.504676,5.500000,4.439714,97.351059,1,97.370277,...,94.473099,26.723457,90.422462,26.209970,64.746620,26.104692,76.703529,29.574265,28.674263,0

In [9]:
data['L_T3'].mean()

4.201820402627554

/usr/local/lib/python2.7/dist-packages/pyemma/__init__.py:134: UserWarning: Python 2.7 usage is deprecated. Future versions of PyEMMA will not support it. Please upgrade your Python installation.
  "Please upgrade your Python installation.", category=UserWarning)

In [10]:
# definition of the different state
x1 = (data['L_T3'] <=3).astype(int)
x2= ((data['L_T3'] > 3) & (data['L_T3']<=3.5)).astype(int)
x3 = ((data['L_T3'] > 3.5) & (data['L_T3']<=4)).astype(int)
x4 = ((data['L_T3'] > 4) & (data['L_T3']<=4.5)).astype(int)
x5 = ((data['L_T3'] > 4.5) & (data['L_T3']<=5)).astype(int)
x6 = (data['L_T3'] >5).astype(int)
df_mm = x1 + 2*x2 + 3*x3 + 4*x4 + 5*x5 + 6*x6

In [253]:
# getting the anomaly labels for our dataset (evaluating sequence of 5 values and anomaly = less than 20% probable)
df_anomaly = cf.markovAnomaly(df_mm, 10, 0.20)
df_anomaly = pd.Series(df_anomaly)
print(df_anomaly.value_counts())

0    8756
1       5
dtype: int64

In [116]:
data['anomaly24'] = df_anomaly

In [245]:
# SAX discritization
from saxpy import SAX

s = SAX(3, 3, 1e-6)
(x3Strings, x3Indices) = s.sliding_window(data['L_T3'], 350, 0.01)
print len(x3Strings)
print len(x3Indices)
print len(set(x3Strings))
#print x3Indices

365
365
3

In [246]:
X=np.array(range(len(data)))
#data.insert(0, 'SAX_value', X)

sax_data=pd.DataFrame(x3Indices,x3Strings )
str_set=set(x3Strings)

print type(str_set)
for i,item in enumerate(str_set):
    start=np.array(sax_data.loc[item][0])
    end=np.array(sax_data.loc[item][1])
    #print item,i
    for j in xrange(len(start)):
        #print j
        data['SAX_value'][range(start[j],end[j])]=i

<type 'set'>
cbb 0

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

cab 1
cba 2

In [250]:
sax_anomaly = cf.markovAnomaly(data['SAX_value'], 40, 0.20)
sax_anomaly = pd.Series(sax_anomaly)
print(sax_anomaly.value_counts())

1    8711
0      50
dtype: int64